<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vehicle</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container my-5">

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="/welcome">Welcome</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/tl/journeys">Маршруты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tl/vehicles">Транспортные ср-ва</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tl/stops">Остановки</a>
        </li>
    </ul>

    <h2>Список маршрутов</h2>

    <form action="#" method="post" th:action="@{/tl/journeys/search}" th:object="${searchParams}">
        <fieldset>
            <legend>Параметры запроса</legend>
            <div>
                <label for="pageNumber">Номер страницы: </label>
                <input th:name="pageNumber" id="pageNumber" th:value="${searchParams.pageNumber}" type="number">
            </div>
            <div>
                <label for="pageSize">Кол-во элементов на странице: </label>
                <input th:name="pageSize" id="pageSize" th:value="${searchParams.pageSize}" type="number">
            </div>
            <div>
                <label for="filterKey">Фильтр по полю: </label>
                <select th:field="${searchParams.filterKey}"  id="filterKey">
                    <option value="">Нет</option>
                    <option value="STATION_FROM">Станция отправления</option>
                    <option value="STATION_TO">Станция прибытия</option>
                    <option value="ACTIVE_VEHICLE">Только с активным транспортным средством</option>
                    <option value="CREATE_DATE">Дата создания (например: 2021-04-27)</option>
                </select>
            </div>
            <div>
                <label for="filterValue">Значение для фильтра: </label>
                <input th:name="filterValue" id="filterValue" th:value="${searchParams.filterValue}">
            </div>
            <div>
                <label for="orderFieldName">Сортировка по полю: </label>
                <select th:field="${searchParams.orderFieldName}"  id="orderFieldName">
                    <option value="">Нет</option>
                    <option value="id">ID</option>
                    <option value="stationFrom">Станция отправления</option>
                    <option value="stationTo">Станция прибытия</option>
                    <option value="createDate">Дата создания</option>
                </select>
            </div>
            <div>
                <label for="orderAsc">Сортировка по возрастанию: </label>
                <input th:checked="${searchParams.orderAsc}" th:name="orderAsc" id="orderAsc" type="checkbox">
            </div>
            <input type="submit" th:value="Поиск">
        </fieldset>
    </form>

    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <td>Порядковый номер</td>
            <td>Id</td>
            <td>Станция отправления</td>
            <td>Станция прибытия</td>
            <td>Время отправления</td>
            <td>Время прибытия</td>
            <td>Направление</td>
            <td>Дата создания</td>
            <td></td>
        </tr>
        </thead>
        <tbody class="text-nowrap">
        <tr th:each="journey, iterator: ${journeys}">
            <td th:text="${iterator.index+1}"></td>
            <td th:text="${journey.id}"></td>
            <td th:text="${journey.stationFrom}"></td>
            <td th:text="${journey.stationTo}"></td>
            <td th:text="${journey.dateFrom}"></td>
            <td th:text="${journey.dateTo}"></td>
            <td th:text="${journey.direction}"></td>
            <td th:text="${journey.createDate}"></td>
            <td><a th:href="@{/tl/journey/view/{journeyId}(journeyId=${journey.id})}">Просмотр</a></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>