<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vehicle</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container my-5">

    <h2>Просмотр остановки</h2>

    <table class="table table-striped table-responsive-md col-md-6">
        <tbody>
        <tr>
            <td>Id</td><td th:text="${stop.id}"></td>
        </tr>
        <tr>
            <td>Название</td><td th:text="${stop.name}"></td>
        </tr>
        <tr>
            <td>Признак активности</td><td th:text="${stop.active}"></td>
        </tr>
        <tr>
            <td>Дата создания</td><td th:text="${stop.createDate}"></td>
        </tr>
        <tr>
            <td>Описание</td><td th:text="${stop.description}"></td>
        </tr>
        <tr>
            <td>Долгота</td><td th:text="${stop.longitude}"></td>
        </tr>
        <tr>
            <td>Широта</td><td th:text="${stop.latitude}"></td>
        </tr>

        </tbody>
    </table>

</div>
</body>
</html>